@use 'variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}


body {
  background-color: $background-color;
  color: $primary-color;
  font: $primary-font;
}

a {
  color: $accent-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.blue {
  border: 1px solid blue;
}

.purple {
  background-color: rebeccapurple;
}